$color-primary: #0f6a49;
$color-secondary: #28906f;
$color-danger: #dc2626;
$color-white: #fff;
$transition-base: 0.3s ease-in-out;
$radius: 6px;
$padding-y: 0.6rem;
$padding-x: 1.2rem;

.btn {
    display: inline-block;
    padding: $padding-y $padding-x;
    font-weight: 500;
    font-size: 1rem;
    border-radius: $radius;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #10b981, #059669);
    transition: background-color $transition-base, color $transition-base,
        border-color $transition-base;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    span {
        color: white;
    }

    &:hover {
        background: linear-gradient(90deg, #059669, #10b981);
    }
}

.btn-primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
        background-color: #059669; // malo tamnija nijansa
    }
}

.btn-secondary {
    background-color: $color-secondary;
    color: $color-white;

    &:hover {
        background-color: #059669; // malo tamnija nijansa
    }
}

.btn-danger {
    background-color: $color-danger;
    color: $color-white;

    &:hover {
        background-color: #b91c1c;
    }
}

.btn-outline {
    background-color: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}
