.wrapper {
    .main {
        margin-left: 280px;

        .header-wrapper {
            background: linear-gradient(90deg, #059669, #10b981);
            width: 100%;
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-block: 12px;

                .search-wrapper {
                    display: flex;
                    align-items: center;
                    margin-left: 40px;
                    img {
                        margin-right: 8px;
                        cursor: pointer;
                    }
                    .header-search {
                        background-color: transparent;
                        border: none;
                        color: white;
                        padding: 8px;
                    }
                    input::placeholder {
                        color: white;
                    }

                    input:focus {
                        outline: none;
                    }
                }
                .time-wrapper {
                    display: flex;
                    align-items: center;
                    .time {
                        color: white;
                        padding-inline: 8px;
                    }
                    @media screen and (max-width: 1024px) {
                        display: none;
                    }
                }
                .profile-wrapper {
                    display: flex;
                    align-items: center;
                    margin-right: 40px;
                    div {
                        margin-left: 12px;
                        cursor: pointer;
                    }
                    .profile-name {
                        color: white;
                        font-size: 18px;
                    }
                    .img-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 40px;
                            height: 40px;
                            cursor: pointer;
                            object-fit: cover;
                            border-radius: 100%;
                        }
                        p {
                            margin-left: 8px;
                            color: white;
                        }
                    }
                }
            }
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .mobile-header-wrapper {
            background: linear-gradient(90deg, #059669, #10b981);

            display: none;
            padding: 8px;
            .hamburger-wrapper {
                display: flex;
                justify-content: end;
                svg {
                    cursor: pointer;
                }
            }
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
        @media screen and (max-width: 768px) {
            margin-left: 0;
        }
    }
}
